{% assign section = include.section %}
<section>
<div id="{{ section.section_id }}" class="container">
            <div id="rightTop">
                <img id="profilBild" src="../images/Home_schmal165.jpg" alt="Profil">
                {% assign title_is_not_empty = section.title | is_not_empty %}
                {% if title_is_not_empty %}
                <h4>{{ section.title }}</h4>
                {% endif %}
                {% assign  %}
                <p></p>                
                {% assign strasse_is_not_empty = section.street | is_not_empty %}
                {% if strasse_is_not_empty %}
                <p>{{ section.street }}</p>
                {% endif %}
                <p></p>
                <p>60322 Frankfurt</p>
                <p>Tel.: 069 – 13 39 12 67</p>
                <p> </p>
            </div>
            <div id="rightBottom">
                <p><img src="../images/praxis.jpg" alt="Praxisräume" width="220" height="165"></p>
            </div>
        </div>
</section>