#ZitateUnten {
    padding: 3rem;
    padding-bottom: 0;
    height: 350px;
}

#ZitateUnten blockquote {
    font-size: 36px;
    padding: 0;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #ZitateUnten {
        padding: 3rem;
        padding-bottom: 0;
        width: 316px;
        height: 350px;
        background-color: #2babd5;
    }

    #ZitateUnten blockquote {
        font-size: 36px;
        padding: 0;
    }

    #ZitateUnten cite {
        font-size: 24px;
        color: #fff;
    }
}