#citations {
    background-color: #2babd5;
    margin-top: -17rem;
    padding-top: 3rem;
}

#ZitateUnten {
    margin: auto;
    padding: 3rem;
    padding-bottom: 0;
    height: 320px;     
    max-width: 370px;   
}

#ZitateUnten blockquote {
    font-size: 36px;
    padding: 0;
    color: #fff;
    text-align: center;
}

#ZitateUnten cite {
    font-size: 24px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    #citations {
        margin-top: 0;
        padding-top: 1rem;
    }
    #ZitateUnten {
        margin: 0;
        max-width: 316px;
    }
}