#hero-card {
    height: 100%;      
    background: #fff;
    padding: 1.5rem;
    padding-top: 3rem;
}

  #rightTop {
    max-width: 350px;
    margin: 0 auto 3rem auto;
    padding: 0;
    padding-left: 20px;
    min-height: 165px;
    background-color: #fff;
    border: 1px solid #DDD;
  }

  #rightTop img {
    float: right;
    margin: 0;
    width: 133px;
    height: 165px;
  }
  #rightTop h4 {
    margin: 0;
    padding: 30px 0 5px 0;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #2babd5;
  }

  #rightTop p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #3a3a3a;
  }

  #rightBottom {
    margin: auto;
    padding: 0;
    background-color: #fff;    
    width: 370px;
  }

  #rightBottom img {
    width: 370px;
    height: auto;
    filter: brightness(1.15);
  }

@media only screen and (min-width: 768px) {
  #hero-card {
      padding: 3rem;
  }

  #rightTop h4 {
    padding: 30px 0 4px 0;
    font-size: 20px;
  }

  #rightTop p {
    font-size: 14px;
    line-height: 18px;
  }

  #rightBottom {
    max-width: 335px;
    width: 315px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #hero-card {
      padding: 2rem;
  }
}