.project {
  background: $color-bkg-neutral;
  padding: 2rem 1rem;

  &__header, &__title {
      display: inline-block;
  }

  &__title {
    margin: 0;
  }
  
  &__subtitle {
    color: $color-gray-300;
    font-size: 1.22222em;
    line-height: 1.4;
    margin-top: 0.5em;
  }

  &__body figure.container, figure.container--lg {
    margin-left: 0;
  }

  .text-block {
      margin-top: -1rem;
  }

  figure img {        
        max-width: 660px;
        border: 1px solid #DDD;
        float: right;
        margin: -4.5rem 0 10px 1rem;
    }
}

@media only screen and (min-width: 601px) {
  .project {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    
    &__subtitle {
      font-size: 1.33333em;
    }
  }
}

@media only screen and (min-width: 1024px)
 @media only screen and (max-width: 948px) {
  .project {
    figure img {
      max-width: calc(100% + 6vw);
    }
  }
}   
